    body {
        background-image: url("elib.jpg");background-repeat: no-repeat;background-size: cover;
    }

.header{
    background: rgb(3, 21, 29);
    padding: 0%;
    padding-top: 5%;
}

.form{
    background-color: rgb(3, 21, 29);padding: 2%;
    margin: 10%; margin-top: 2%;   
}

.lists{
    padding: 10%;
    
}
